## Do some simple queries to check the load of the tables

In [1]:
import psycopg2
from passwords import password
import pandas as pd

In [2]:
with psycopg2.connect(user = "postgres", password = password, database = "dass") as conn:
    sec_qry = """SELECT COUNT (DISTINCT gender) as gender_count 
            FROM person_info as p
            ORDER BY gender_count DESC"""
    sec_res = pd.read_sql_query(sec_qry,conn)

sec_res.head()

   gender_count
0             3

In [3]:
with psycopg2.connect(user = "postgres", password = password, database = "dass") as conn:
    sec_qry = """SELECT COUNT (DISTINCT major) as major_count 
            FROM educ_info as p
            ORDER BY major_count DESC"""
    sec_res = pd.read_sql_query(sec_qry,conn)

sec_res.head()

   major_count
0           68

In [8]:
with psycopg2.connect(user = "postgres", password = password, database = "dass") as conn:
    sec_qry = """SELECT COUNT(gender) as gender_count, e.major, p.gender  
            FROM person_info as p
            INNER JOIN educ_info as e
            ON p.person_id = e.person_id
            WHERE e.major = 'I.T.'
            GROUP BY e.major, p.gender
            ORDER BY gender_count DESC"""
    sec_res = pd.read_sql_query(sec_qry,conn)

sec_res.head()

   gender_count                                     major  gender
0          1825  I.T.                                           2
1           774  I.T.                                           1
2            25  I.T.                                           3